<h1>Accounts</h1>
<p id="notice"><%= notice %></p>
<ul>
  <% @accounts.each do |account| %>
    <li>Nome: <%= account.name %></li>
    <li>Followers: <%= account.followers %></li>
    <li>Following: <%= account.following %></li>
    <%= link_to 'Delete', account, method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>
  <% end %>
</ul>

<%= link_to "Nuovo account", accounts_new_path %>

